<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Us!</h2>
                <hr class="light">
                <p class="text-faded">
                  Hi there! If you're reading this, you probably already know this story but...
                  If you're still reading this, Max and ThienVinh met during a halloween party in 2015. She was a peafowl and he was an avocado. They exchanged details and didn't see each other for another month! Max brought back London books for the studious ThienVinh and she gave him a mushroom bouquet on their first date.
                </p>
                <a href="#wedding" class="btn btn-default-primary btn-xl page-scroll">The Wedding!</a>
            </div>
        </div>
    </div>
</section>
