<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Story</h2>
                <hr class="light">
                <p class="text-faded">
ThienVinh and Max met on a fateful Halloween (October 31st 2015) in Washington, DC. Max was dressed as his favourite fruit—the avocado—and had bountiful candy bars hidden in the belly of his jacket. ThienVinh was dressed as colourful peacock was often mistaken as a fairy, after making her costume from a crafts and scraps non-profit shop. ThienVinh and Max had to wait a month for their first date, given competing travel schedules to Nairobi, London, Berlin and different parts of California.
<br/>
<br/>
Max asked ThienVinh to be his life partner in her parents’ backyard in Sacramento in the summer of 2017. ThienVinh didn’t immediate answer him; instead, she suggested that they take a walk along the Sacramento River. There, she made him a ring out of a daisy and asked him to be her life partner. Max said yes and then ThienVinh also said yes when Max presented her with a ring from his pocket.
<br/>
<br/>
Since then, ThienVinh and Max have travelled to many places together while also nesting in Washington, DC. Adventures include witnessing the Northern Lights in Iceland; eating Turkish food on Christmas Day in East London; walking the 20-mile “Wivey Way” in the British countryside; whale-watching in Baja Mexico; seeing tropical birds in Trinidad and Tobago; riding bikes in New Orleans; and eating tacos in Berlin made by Maya, Max’s sister. 
<br/>
<br/>
Their most ambitious trip to date was a trip to Asia, where Max and ThienVinh held a “Đám Hỏi” engagement ceremony in Vietnam with their families and friends in the town of Châu Đốc, where ThienVinh was born. During this trip in August 2018, Max’s and ThienVinh’s parents and immediate family met and got to know each for the first time, while Max met ThienVinh’s extended family including six generations of her ancestors. Afterwards, they sailed away on the Mekong River to Cambodia en route to Taiwan and Japan.
<br/>
<br/>
ThienVinh and Max are delighted to extend their celebrations with their community of family and friends at their wedding on the American River in Lotus, California!


                </p>
                <a href="#wedding" class="btn btn-default-primary btn-xl page-scroll">The Wedding</a>
            </div>
        </div>
    </div>
</section>
