<section class="bg-primary" id="accomodations">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

                <h2 class="section-heading">Getting there</h2>
                <hr class="light">
                <p class="text-faded">

Our venue, Earthtrek Expeditions, is located in Lotus, California, which is about 50 miles east of Sacramento. It will take about 1 hour to drive from Sacramento to Lotus, California. There will be plenty of parking available on-site.
<br/>
<br/>
For those flying in, the best airport is Sacramento International Airport (SMF), which is about a 15 minute drive away from downtown Sacramento and an hour drive from Lotus, California. Oakland International Airport (OAK) and San Francisco International Airport (SFO) are both about 1.5 hours away from Sacramento and 2.5 hours from Lotus. 
<br/>
<br/>
For those taking the bus or train, Sacramento has Amtrak (train), Greyhound bus and Megabus stations. It is also has Lyft and Uber.
<br/>
<br/>
At the moment, we suggest that friends get to Northern California (to the Bay Area or Sacramento) and carpool to the site, either by riding with local friends with cars or renting your own car. We are considering booking shuttles between Sacramento and Lotus. We will message everyone and update this website if we do end up offering shuttles or if we decide to try to matchmake drivers and passengers.
<br/>
<br/>

              </p>

                <h2 class="section-heading">Tent Cabin Glamping Goodness</h2>
                <hr class="light">
                <p class="text-faded">

We’ve reserved 150 bunk beds in tent cabins at the wedding venue. These are provided at no cost. Each tent sleeps 2 to 12 and we will be assigning people to bunks. Our wedding will also be kid-friendly, though please keep a close eye on them as we are on the river. Please bring your own bedding, otherwise you can rent a sleeping bag for $15 and a pillow for $5 or the whole weekend. You can also pitch your own tent on the venue site as well. If you prefer to stay elsewhere, there are also B&Bs and hotels in the area. We’d love for you to take advantage of the tent cabins, but do let us know if there are ways we can help ensure the tent cabins or other nearby accommodations allow you to fully enjoy the party.
              </p>
                
            </div>
        </div>
    </div>
</section>
