<section class="bg-primary" id="accomodations">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Accomodations!</h2>
                <hr class="light">
                <p class="text-faded">We’ve reserved 150 bunk beds in tent cabins at the wedding venue. Each tent sleeps 2 to 12 and we will be assigning people to bunks. These are included at no cost. Bring your own bedding, otherwise you can rent bedding for $10 for the whole weekend. If you don't want to stay with us at the venue site, there are are B&Bs and hotels in the area.

                  We’d love for you to take advantage of the tent cabins but do let us know if there are ways we can help ensure the tent cabins or other nearby accomodations allow you to fully enjoy the party.</p>
                
            </div>
        </div>
    </div>
</section>
