<section class="bg-primary" id="ceremony">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ceremony</h2>
                <hr class="light">
                <p class="text">
                  The ceremony will be held at 4pm on September 14th, 2019 by the American River at EarthTrek Expedition campground in Lotus, CA.
                  <br /><br />
                  <a href="https://goo.gl/maps/1bp4eEJ2UNB2" target="_blank">EarthTrek Expeditons<br \>
                  7340 CA-49<br \>
                  Lotus, CA 95651</a>
                </p>
            </div>
        </div>
    </div>
</section>
