<section class="bg-primary" id="food">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Food</h2>
                <hr class="light">
                <p class="text">
                  For the reception dinner, we aim to cater to different dietary needs and restrictions, including to those who eat vegan, gluten-free, and nut-free foods. 
                </p>
                <p class="text">
                  We will also offer complemetary (veg and dietary-restrictions friendly) breakfast buffets on Saturday morning and Sunday morning at EarthTrek campground. For Friday night, we'll have pizza and salad or you can eat out on your own. There are several restaurants and pubs located in very close proximity to the venue. Please also arrange your own lunches on Saturday. There will be snacks, water, beer, wine and non-alcoholic beverages available throughout the three days. Please bring any hard liquor you want to share and consume. Please check the <u><a href="#thingstodo" style="color: white">Things To Do</a></u> section for more eating options out of camp.
                </p>
            </div>
        </div>
    </div>
</section>
