<section id="gifts">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Gifts</h2>
                <hr class="light">
                <p class="text">
                  Your presence is more than enough of a present for us! Thank you for taking the time and traveling to celebrate with us. Should you insist on a gift, we would love to receive a handwritten card. Feel free to bring a bottle of hard liquor to share with everyone as we’ll only provide beer and wine.
                  <br/>
                  <br/> 

                  Should you want to make a financial gift, we suggest donating to these local causes:
                </p>
                <br/> 
                 <br/>
                

                  <h3>Sacramento-based organizations:</h3>
                 

                  <hr class="primary">
                  <p></p>
                  <p class="text">
                  <strong>Sacramento Loaves and Fishes</strong> provides food, warmth, and a path home for homeless men, women, and children.
                  </p>
                  <a href="https://sacloaves.org/donate.php" target="_blank" class="btn btn-primary btn-xl page-scroll">Sacramento Loaves and Fishes</a>
                  
                  <hr class="primary">
                  <p></p>
                  <p class="text">
                  <strong>WIND Youth Services</strong> promotes the safety, shelter and self-determination of all youth experiencing homelessness, including those who are unstably or unsafely housed – regardless of their ethnicity, gender identity, sexual orientation, sobriety status, engagement in the sex trades, and legal history.
                  </p>
                  <a href="https://www.windyouth.org/donate/" target="_blank" class="btn btn-primary btn-xl page-scroll">WIND Youth Services</a>

                  <hr class="primary">
                  <p></p>
                  <p class="text">
                  <strong>Paul Hom Asian Clinic</strong> provides free primary care services to the medically uninsured, including translation services for Asian immigrants.
                  </p>
                  <a href="https://myhs.ucdmc.ucdavis.edu/web/paul-hom-asian-clinic/donate" target="_blank" class="btn btn-primary btn-xl page-scroll">Paul Hom Asian Clinic</a>

                  <hr class="primary">
                  <p></p>
                  <p class="text">
                  <strong>American River Parkway Foundation</strong> supports the preservation and enjoyment of the American River Parkway by fostering environmental education, stewardship and volunteer opportunities.
                  </p>
                  <a href="https://arpf.org/who-we-are/missionvision/" target="_blank" class="btn btn-primary btn-xl page-scroll">American River Parkway Foundation</a>
                  <br/>
                  <br/>
                  <br/>
                  <br/> 

                  <h3>Washington DC-based organizations:</h3>

                  <hr class="primary">
                  <p></p>
                  <p class="text">
                  <strong>Martha’s Table</strong> supports strong children, strong families, and strong communities by increasing access to quality education programs, healthy food, and community support.
                  </p>
                  <a href="https://marthastable.org/" target="_blank" class="btn btn-primary btn-xl page-scroll">Martha’s Table</a>

                  <hr class="primary">
                  <p></p>
                  <p class="text">
                  <strong>Casa Ruby</strong> is a multicultural, bilingual, LGBTQ safe space providing food, shelter, and numerous other health-related services. 
                  </p>
                  <a href="https://casaruby.org/get-involved/" target="_blank" class="btn btn-primary btn-xl page-scroll">Casa Ruby</a>
              

                  <hr class="primary">
                  <p></p>
                  <p class="text">
                  <strong>The Anacostia Watershed Society</strong> works to protect and restore the Anacostia River and its watershed communities by cleaning the water, recovering the shores, and honoring the heritage. 
                  </p>
                  <a href="https://anacostiaws.salsalabs.org/donate/index.html" target="_blank" class="btn btn-primary btn-xl page-scroll">The Anacostia Watershed Society</a>

                  <hr class="primary">
                  <p></p>
                  <p class="text">
                  <strong>The DC Abortion Fund (DCAF)</strong> makes grants to people seeking abortion care in the DC area including those who come from out of state.
                  </p>
                  <a href="https://dcabortionfund.org/" target="_blank" class="btn btn-primary btn-xl page-scroll">The DC Abortion Fund (DCAF)</a>
                

              
            </div>
        </div>
    </div>
</section>
