<section class="no-padding" id="photos">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6 portfolio-box">
                <img src="img/portfolio/map1.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                            California, here we come!
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 portfolio-box">
                <img src="img/portfolio/map2.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                            Sacramento!
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 portfolio-box">
                <img src="img/portfolio/map3.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                            Campground
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 portfolio-box">
                <img src="img/portfolio/map4.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                            Mine that gold!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
