<section class="no-padding" id="photos">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6 portfolio-box">
                <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                            Dam Hoi in Chau Doc, Vietnam
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 portfolio-box">
                <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                            Sacramento, CA Farmers Market
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 portfolio-box">
                <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                            Bancroft, Ontario, Canada
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 portfolio-box">
                <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                            Wiveliscombe, Somerset, UK
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
