<section id="reception">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Reception</h2>
                <hr class="primary">
                <p class="text">
                  Wining and dining will begin at 5pm on Saturday September 14 also at EarthTrek Expeditions.
                </p>
                <p class="text">
                  For the reception dinner, we aim to cater to different dietary needs and restrictions, including to those who eat vegan, gluten-free, and nut-free foods. 
                </p>
                <p class="text">
                  We will also offer complemetary (veg and dietary-restrictions friendly) breakfast buffets on Saturday morning and Sunday morning at EarthTrek campground. For Friday night, please plan on dining out. There are several restaurants and pubs located in very close proximity to the venue. Please also arrange your own lunches on Saturday. There will be snacks, water, beer, wine and non-alcoholic beverages available throughout the three days. Please bring any hard liquor you want to share and consume. Please check the  <a class="page-scroll" href="#thingstodo">Things To Do</a> section for more eating options out of camp.
                </p>
                <p class="text">
                  On Saturday night, music and dancing will begin at 7pm also at EarthTrek Expeditions at the Frontierland area and end at 10pm.
                </p>
                <p class="text">
                  The afterparty may continue at some bars in town, locations TBD.
                </p>
            </div>
        </div>
    </div>
</section>
