<section id="reception">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Reception!</h2>
                <hr class="primary">
                <p class="text">
                  Cocktails and dinner will begin at 5pm also at EarthTrek Expeditions.
                </p>
                <p class="text">
                  Music and dancing will begin at 7pm also at EarthTrek Expeditions at the Frontierland area and end at 10pm.
                </p>
                <p class="text">
                  The afterparty may continue at some bars in town.
                </p>
            </div>
        </div>
    </div>
</section>
