<section id="reception">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Reception</h2>
                <hr class="primary">
                <p class="text">
                  Following our 4pm Saturday wedding ceremony, wining and dining will begin around 5pm.
                </p>
                <p class="text">
                  Music and dancing will begin around 7pm and end around 10pm.
                </p>
                <p class="text">
                  The afterparty will likely continue at the Coloma Club bar down the road but subject to change!
                </p>
            </div>
        </div>
    </div>
</section>
