
  <section id="thingstodo">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Things to do</h2>
                <hr class="primary">
                <p class="text">
                This region is considered a National Historic Landmark district for its role in the California Gold Rush and referred to as "the whitewater capital" for its fantastic rafting conditions. Our campground is located on the American River with beach access and calming waters, so please bring your bathing suits, biodegradable sunscreen, sunglasses, sandals and beach towels!
                </p>

                <a href="https://www.coloma.com/" target="_blank" class="btn btn-primary btn-xl page-scroll">Coloma-Lotus Area Things To Do</a>
                

                <h3>River Rafting</h3>
                <p class="text">
                  Our wedding venue, Earth Trek Expeditions, used to also be a river rafting outfitter. Now they have their neighbor <strong>Beyond Limits Rafting</strong> organize the trips. If interested, let us know ASAP and we can organize group trips.
                </p>
                <a href="https://www.rivertrip.com/" target="_blank" class="btn btn-primary btn-xl page-scroll">Beyond Limits Rafting</a>

                <hr class="primary">
                <p></p>
                <h3>Sutter's Mill and CA gold discovery area</h3>
                <p class="text">
                  One of the main attractions of Lotus CA, you can walk around where gold was struck launching the California gold rush in the 1840s. It's easy to get to <strong>Sutters Mill</strong> and discovery area. There's even still gold in them there hills and you can pan for it!
                </p>
                <a href="https://www.coloma.com/california-gold-discovery/" target="_blank" class="btn btn-primary btn-xl page-scroll">Sutter's Mill and CA gold discovery area</a>


                <hr class="primary">
                <p></p>
                <h3>Greater Coloma Area Hiking, Running, and Walking</h3>
                <p class="text">
                  Lots of beautiful river and foothill hikes, runs, and walks in the area. Most are a short walk or drive away. More from <strong>Coloma-Lotus Business Council</strong> about it.
                </p>
                <a href="https://www.coloma.com/recreation/hiking-running/" target="_blank" class="btn btn-primary btn-xl page-scroll">Sutter's Mill and CA gold discovery area</a>


                <hr class="primary">
                <p></p>
                <h3>Buddhist Meditation Center</h3>
                <p class="text">
                  Visit the <strong>Thiền Viện Diệu Nhân buddhist meditation center!</strong> We may organize a group trip.
                </p>
                <a href="http://dieunhan.weebly.com/english.html" target="_blank" class="btn btn-primary btn-xl page-scroll">Buddhist Meditation Center</a>

                <hr class="primary">
                <p></p>

                <h2 class="section-heading">Food and Drink in the Area</h2>

                <p class="text">
                Please plan on dining out after you check-in on Friday evening. There are several restaurants and pubs located in very close proximity to the venue. We will be providing breakfast and then dinner on Saturday. Please arrange your own lunches on Saturday. We will also be providing breakfast before for those departing on Sunday. There will be snacks, water, non-alcoholic and alcoholic beverages available throughout the three days. We aim to cater to different dietary needs and restrictions, including to those who eat vegan, gluten-free, and nut-free foods. Please find below a map and recommended local restaurants (courtesy of Earthtrek Expeditions).
                </p>

                <hr class="primary">
                <p></p>
                <h3>Squally's On the River</h3>
                <p class="text">
                Located right next door to our campground, <strong>Squally's On the River</strong> is a restaurant serving beers, pizza, BBQ, burgers, and salads. Many fresh ingredients are sourced from local farms, ranches, orchards, breweries, and vineyards. 
                </p>
                <a href="https://www.facebook.com/Squallys-On-the-River-1011404472229035/" target="_blank" class="btn btn-primary btn-xl page-scroll">Squally's On the River</a>

                <hr class="primary">
                <p></p>
                <h3>Marcos Cafe</h3>
                <p class="text">
                Located just a short walk, <strong>Marcos Cafe</strong> is an outdoor family-style restaurant serving unique pizzas, salads, fresh appetizers, and local beer and wine. Local live music can also be enjoyed on weekends.  
                </p>
                <a href="https://www.yelp.com/biz/marcos-cafe-lotus" target="_blank" class="btn btn-primary btn-xl page-scroll">Marcos Cafe</a>

                <hr class="primary">
                <p></p>
                <h3>Sierra Rizing Cafe and Bakery</h3>
                <p class="text">
                Located in the same parking lot as our campground, <strong>Sierra Rizing Cafe and Bakery</strong>, is favorite amongst locals and travelers alike. Enjoy a variety of coffee and tea beverages as well as delicious home-baked goods. 
                </p>
                <a href="http://www.sierrarizing.com/" target="_blank" class="btn btn-primary btn-xl page-scroll">Sierra Rizing Cafe and Bakery</a>

                <hr class="primary">
                <p></p>
                <h3>Riyo Yogurt</h3>
                <p class="text">
                  Located in the same parking lot as our campground, Riyo Yogurt, is a self-serve frozen yogurt with delicious flavors (dairy-free as well) and toppings bar that is guaranteed you cool you down on a hot summer day. 
                </p>
                <a href="https://www.yelp.com/biz/riyo-yogurt-coloma" target="_blank" class="btn btn-primary btn-xl page-scroll">Riyo Yogurt</a>

                <hr class="primary">
                <p></p>
                <h3>The River Shack Deli and Pub</h3>
                <p class="text">
                Located about a quarter of a mile from our campground. The <strong>River Shack</strong> features made-to-order deli sandwiches and a wide variety of beers. The perfect spot to hang out and live life on river time. 
                </p>
                <a href="https://www.yelp.com/biz/river-shack-deli-and-pub-lotus" target="_blank" class="btn btn-primary btn-xl page-scroll">The River Shack Deli and Pub</a>

                <hr class="primary">
                <p></p>
                <h3>Coloma Club Bar and Restaurant</h3>
                <p class="text">
                  Located about a quarter of a mile up the road from our campground. The <strong>Coloma Club</strong> has a full service bar and is a popular hang-out spot for locals and river guides at night. 
                </p>
                <a href="http://colomaclub.com/" target="_blank" class="btn btn-primary btn-xl page-scroll">Coloma Club Bar and Restaurant</a>

                <hr class="primary">
                <p></p>
                <h3>Gorilla Rock Taco</h3>
                <p class="text">
                  Located across the street from our campground, <strong>Gorilla Rock Taco</strong> provides tacos, burritos, salad bowls, and beers. 
                </p>
                <a href="https://www.yelp.com/biz/gorilla-rock-taco-lotus" target="_blank" class="btn btn-primary btn-xl page-scroll">Gorilla Rock Taco</a>


                <hr class="primary">
                <p></p>
                <h3>For Beer and Wine Lovers</h3>
                <p class="text">
                  There’s multiple places to visit in the Lotus/Coloma area!
                  Head to <strong>Stash Brewing</strong> if you want a foothills German Belgian style Micorbrewery.
                </p>
                <a href="http://stashbrewingco.com/" target="_blank" class="btn btn-primary btn-xl page-scroll">Stash Brewing</a>
                <p></p>
                <p class="text">
                  If wine is your thing, check out <strong>Gold Hill Vineyard</strong>.
                  They offer a wide array of award-winning red and whites including Syrah, Chardonnay, Barbera, Cab Franc, Cab Sav, etc. They also make a variety of traditional beers!
                </p>
                <a href="http://www.goldhillvineyard.com/" target="_blank" class="btn btn-primary btn-xl page-scroll">Gold Hill Vineyard</a>

                <hr class="primary">
                <p></p>

                <h3>For Spirits Lovers</h3>
                <p class="text">
                  If distillates are more your thing, check out <strong>California Distilled Spirits</strong>!  It would be a nice change of pace from beer scene.  Be sure to make a reservation if you’d like a tour!
                </p>
                <a href="http://californiadistilledspirits.com/" target="_blank" class="btn btn-primary btn-xl page-scroll">California distilled spirits</a>
                <p></p>
                <p class="text">
                  Or if you're hankering for some goldrush era moonshine, check out <strong>G1848 Distillery</strong>.
                </p>
                <a href="http://www.1848distillery.com/" target="_blank" class="btn btn-primary btn-xl page-scroll">1848 Distillery</a>

                <hr class="primary">
                <p></p>

                <p class="text">Want more?
                </p>
                <a href="https://www.coloma.com/attractions/wineries/" target="_blank" class="btn btn-primary btn-xl page-scroll">Check out this Coloma page for more breweries and wineries</a>

            </div>
        </div>
    </div>
</section>
