
  <section id="thingstodo">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Things to do!</h2>
                <hr class="primary">

                <h3>River Rafting</h3>
                <p class="text">
                  Our wedding venue, Earth Trek Expeditions, used to also be a river rafting outfitter. Now they have their neighbor <strong>Beyond Limits Rafting</strong> organize the trips. If you are interested get in touch with Camp Counsellor Monika Roy! Trips will cost about $90 will last about 4 hours and are category I, II, and III so not too wild.
                </p>
                <a href="https://www.rivertrip.com/" target="_blank" class="btn btn-primary btn-xl page-scroll">Beyond Limits Rafting</a>

                <hr class="primary">
                <p></p>
                <h3>Sutter's Mill and CA gold discovery area</h3>
                <p class="text">
                  One of the main attractions of Lotus CA, you can walk around where gold was struck launching the California gold rush in the 1840s. It's easy to get to <strong>Sutters Mill</strong> and discovery area. There's even still gold in them there hills and you can pan for it!
                </p>
                <a href="https://www.coloma.com/california-gold-discovery/" target="_blank" class="btn btn-primary btn-xl page-scroll">Sutter's Mill and CA gold discovery area</a>


                <hr class="primary">
                <p></p>
                <h3>Greater Coloma Area Hiking, Running, and Walking</h3>
                <p class="text">
                  Lots of beautiful river and foothill hikes, runs, and walks in the area. Most are a short walk or drive away. More from <strong>Coloma-Lotus Business Council</strong> about it.
                </p>
                <a href="https://www.coloma.com/recreation/hiking-running/" target="_blank" class="btn btn-primary btn-xl page-scroll">Sutter's Mill and CA gold discovery area</a>


                <hr class="primary">
                <p></p>
                <h3>Buddhist Meditation Center</h3>
                <p class="text">
                  Visit the <strong>Thiền Viện Diệu Nhân buddhist meditation center!</strong>. For more information, get in touch with Camp Counsellor Van (ThienVinh's mom)!
                </p>
                <a href="http://dieunhan.weebly.com/english.html" target="_blank" class="btn btn-primary btn-xl page-scroll">Buddhist Meditation Center</a>

                <hr class="primary">
                <p></p>

                <h3>For Beer and Wine Lovers</h3>
                <p class="text">
                  There’s multiple places to visit in the Lotus/Coloma area!
                  Head to <strong>Stash Brewing</strong> if you want a foothills German Belgian style Micorbrewery.
                </p>
                <a href="http://stashbrewingco.com/" target="_blank" class="btn btn-primary btn-xl page-scroll">Stash Brewing</a>
                <p></p>
                <p class="text">
                  If wine is your thing, check out <strong>Gold Hill Vineyard</strong>.
                  They offer a wide array of award-winning red and whites including Syrah, Chardonnay, Barbera, Cab Franc, Cab Sav, etc. They also make a variety of traditional beers!
                </p>
                <a href="http://www.goldhillvineyard.com/" target="_blank" class="btn btn-primary btn-xl page-scroll">Gold Hill Vineyard</a>
                <a href="https://www.coloma.com/attractions/wineries/" target="_blank" class="btn btn-primary btn-xl page-scroll">Check out this Coloma page for more breweries and wineries</a>

                <hr class="primary">
                <p></p>

                <h3>For Spirits Lovers</h3>
                <p class="text">
                  If distillates are more your thing, check out <strong>California Distilled Spirits</strong>!  It would be a nice change of pace from beer scene.  Be sure to make a reservation if you’d like a tour!
                </p>
                <a href="http://californiadistilledspirits.com/" target="_blank" class="btn btn-primary btn-xl page-scroll">California distilled spirits</a>
                <p></p>
                <p class="text">
                  Or if you're hankering for some goldrush era moonshine, check out <strong>G1848 Distillery</strong>.
                </p>
                <a href="http://www.1848distillery.com/" target="_blank" class="btn btn-primary btn-xl page-scroll">1848 Distillery</a>

                <hr class="primary">
                <p></p>

                <h3>For Risk Lovers</h3>
                <p class="text">
                  For the risk inclined, there's a casino not to far away. Let luck be a lady!
                </p>
                <a href="https://www.redhawkcasino.com/" target="_blank" class="btn btn-primary btn-xl page-scroll">Red Hawk Casino</a>
            </div>
        </div>
    </div>
</section>
